<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diet Plan Calendar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>Weekly Diet Plan</h1>
      <!-- Form for entering calorie limit and selecting diet type -->
      <form id="calorieForm">
        <input
          type="number"
          id="caloryLimit"
          placeholder="Enter calorie limit"
          required
        />
        <select id="dietType" required>
          <option value="">Select Diet Type</option>
          <option value="ketogenic">Ketogenic</option>
          <option value="paleo">Paleo</option>
          <option value="vegetarian">Vegetarian</option>
          <option value="vegan">Vegan</option>
          <option value="mediterranean">Mediterranean</option>
          <option value="dash">DASH</option>
        </select>
        <button type="submit">Generate Diet Plan</button>
      </form>

      <!-- Placeholder for the grid to display the diet plan -->
      <div id="dietPlanGrid" class="diet-plan-grid"></div>
    </div>

    <!-- Link the script file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
