<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diet Plan Calendar</title>
    <!-- Include FullCalendar CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Diet Plan Calendar</h1>
      <form id="calorieForm">
        <input
          type="number"
          id="caloryLimit"
          placeholder="Enter calorie limit"
          required
        />
        <button type="submit">Generate Diet Plan</button>
      </form>
      <div id="calendar"></div>
    </div>
    <!-- Include FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
